.page{
	background: url('../img/background.png') !important;
}
.parent-div{
	padding: 20px;
}
.mynav{
	background-color: white !important;
	-webkit-box-shadow: 0 8px 9px -6px #cac3c3;
   -moz-box-shadow: 0 8px 9px -6px #cac3c3;
	box-shadow: 0 8px 9px -6px #cac3c3;
}

i.icon.icon-menu {
  width: 24px;
  height: 24px;
  background-image: url('../img/icon-menu.png');
}

i.icon.icon-cross {
  width: 24px;
  height: 24px;
  background-image: url('../img/icon-cross.png');
}

i.icon.icon-back {
  width: 24px;
  height: 24px;
  background-image: url('../img/icon-back.png');
}

i.icon.icon-logout {
  width: 24px;
  height: 24px;
  background-image: url('../img/icon-logout.png');
  margin-right: 20px;
}

.logo-img{
	width: 150px;
    margin-top: 3px;
    max-width: 162px;
}


.text-center{
	text-align:center;
}
.browse-course{
	margin-top: 30px;
}
.icon-browse{
	max-width: 150px;
	max-height: 100px;
    width: 80%;
    height: 80%;
	margin-top:6px;
}
.back-icon{
	color: black;
}

#list-items:before{
	background: transparent !important;
}
#list-items:after{
	background: transparent !important;
}

.text-heading{
	color: #3472d1;
	font-size: 16px !important;
}

.home-menu{
	background: #1067eb;
	max-height: 106px;
	min-height: 106px;
}

.home-menu > h1{
	color:white !important;
	font-weight: 100 !important;
	line-height: 1 !important;
	font-size: 1.4em !important;
}
.home-menu > h1 > a{
	color:white !important;
}

.tooltip{
	max-height: 106px;
	min-height: 106px;
	background: rgba(209,209,209,0.99);
	background: rgba(176,176,176,0.99);
	background: -moz-linear-gradient(left, rgba(176,176,176,0.99) 0%, rgba(189,189,189,0.99) 9%, rgba(189,189,189,1) 9%, rgba(209,209,209,1) 23%, rgba(218,218,218,1) 36%, rgba(226,226,226,1) 49%, rgba(175,177,177,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176,176,176,0.99)), color-stop(9%, rgba(189,189,189,0.99)), color-stop(9%, rgba(189,189,189,1)), color-stop(23%, rgba(209,209,209,1)), color-stop(36%, rgba(218,218,218,1)), color-stop(49%, rgba(226,226,226,1)), color-stop(100%, rgba(175,177,177,1)));
	background: -webkit-linear-gradient(left, rgba(176,176,176,0.99) 0%, rgba(189,189,189,0.99) 9%, rgba(189,189,189,1) 9%, rgba(209,209,209,1) 23%, rgba(218,218,218,1) 36%, rgba(226,226,226,1) 49%, rgba(175,177,177,1) 100%);
	background: -o-linear-gradient(left, rgba(176,176,176,0.99) 0%, rgba(189,189,189,0.99) 9%, rgba(189,189,189,1) 9%, rgba(209,209,209,1) 23%, rgba(218,218,218,1) 36%, rgba(226,226,226,1) 49%, rgba(175,177,177,1) 100%);
	background: -ms-linear-gradient(left, rgba(176,176,176,0.99) 0%, rgba(189,189,189,0.99) 9%, rgba(189,189,189,1) 9%, rgba(209,209,209,1) 23%, rgba(218,218,218,1) 36%, rgba(226,226,226,1) 49%, rgba(175,177,177,1) 100%);
	background: linear-gradient(to right, rgba(176,176,176,0.99) 0%, rgba(189,189,189,0.99) 9%, rgba(189,189,189,1) 9%, rgba(209,209,209,1) 23%, rgba(218,218,218,1) 36%, rgba(226,226,226,1) 49%, rgba(175,177,177,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#afb1b1', GradientType=1 );
}
.tooltip:after{
	content: '';
	position:absolute;
	left: 50%;
	width: 0px;
	height:0px;
	border: 12px solid transparent;
	border-left: 12px solid silver;
	margin-top: 40px;
}
.buttons{
	margin-top: 20px;
}
.picture-icon{
	border-radius: 22px;
}
.browse-picture-icon{
	border-radius: 40px;
}
.button-1, .button-2{
	border-radius: 20px;
	font-size: 14px;
	text-transform: none;
}
.list-of-title{
	margin-bottom: 0px;
	margin-top: 0px;
}
.main-heading{
	font-weight: 300;
	color:white !important; 
}
.left-div{
	background-color: #afb1b1;
}
.logout-button{
	background-color: #1067eb;
}
.logout-button > center > h1{
	color:white !important;
	font-weight: 100 !important;
	line-height: 1 !important;
	font-size: 1.4em !important;
}
#top-line:before{
	height: 3px;
}
#bottom-line:after{
	background: transparent !important;
}
.searchbar-nav{
	background-color: white !important;
}
.button-login{
	background-color: #1067eb !important;
}
#search-navbar{
	border-bottom: 1px solid black !important;
	color:black !important;
}
.menu-icon{
	position: absolute;
	right: 10px;
	top: 0px;
}
.profile-picture{
	width: 100px;
	height: 100px;
}
.facebook-icon, .pinterest-icon, .twitter-icon, .google-icon{
	width: 20px;
	height: 20px;
	border-radius: 10px;
}
.button-send-message{
	text-transform: none;
	background-color: #015eea;
}
.icon-bar{
	background-color: white;
}
.istudy-logo{ 
	width: 100%;
	height: 40px;
}
table{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}
tr, th{
	border: 1px solid black;
	border-collapse: collapse;
}
.radio-element{
	margin-bottom: 0px;
	margin-top: 0px;
}
.main-heading{
	font-size: 16px;
}

.checkboxLine{
	margin: 0px;
}

.list-block .item-link .item-inner {
	background-image: none;
}

#statements .item-title-row{
	background-image: none !important; 
}
.custom-icon{
	margin-top: 10px;



