<div data-page="about-me" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('teacher_profile.html')"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">About Me</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
			<div class="list-block media-list list-of-title">
			  <ul id="top-line">
				<li>
				  <a href="#" class="item-link item-content">
					<div class="item-media"><i class="f7-icons custom-icon">person</i></div>
					<div class="item-inner">
					  <div class="item-title">
						<div class="item-title">Name</div>
					  </div>
					  <div class="item-subtitle teacher_username">Beatles</div>
					</div>
				  </a>
				</li>
			  </ul>
			</div>
			<div class="list-block media-list list-of-title">
			  <ul>
				<li>
				  <a href="#" class="item-link item-content">
					<div class="item-media"><i class="f7-icons custom-icon">phone-round</i></div>
					<div class="item-inner">
					  <div class="item-title">
						<div class="item-title">Phone</div>
					  </div>
					  <div class="item-subtitle teacher_phone">Beatles</div>
					</div>
				  </a>
				</li>
			  </ul>
			</div>
			<div class="list-block media-list list-of-title">
			  <ul>
				<li>
				  <a href="#" class="item-link item-content">
					<div class="item-media"><i class="f7-icons custom-icon">email</i></div>
					<div class="item-inner">
					  <div class="item-title">
						<div class="item-title">Email</div>
					  </div>
					  <div class="item-subtitle teacher_email">Beatles</div>
					</div>
				  </a>
				</li>
			  </ul>
			</div>
			<div class="list-block media-list list-of-title">
			  <ul>
				<li>
				  <a href="#" class="item-link item-content">
					<div class="item-media"><i class="f7-icons custom-icon">star</i></div>
					<div class="item-inner">
					  <div class="item-title">
						<div class="item-title">Experience</div>
					  </div>
					  <div class="item-subtitle teacher_experience">Loading ...</div>
					</div>
				  </a>
				</li>
			  </ul>
			</div>
	</div>
</div>