<div data-page="about-us" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('login.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">About Us</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content parent-div">
		<div class="about-us">
			<h4>About AyeStudy</h4>
			
				<p>Today education is challenging. Student success in examination is determined by their ability to master the core
				concepts and the examination techniques. Yet costs, class sizes and other issues often prevent students from accessing quality online
				learning that can support and reforce these essential skills.</p>
			
			
				<p>Our vision to be the source for the best online learning on the enternet available while making its very addordable.
				Development by a team of teachers and professional with more than 90 year of collective experience in teaching and software development
				iStudt aims to be your one-stop source online learning. We offer courseware design by some of most experience teachers for O&A level in Pakistan.</p>
			
				<h4>The Team</h4>
				<img src="img/profilePicture.png" class="profile-picture">
				<h4 class="username"><a href="#">MUBASHAR MIR</a></h4>
				<p class="status">Associate professor</p>
				<p> Mubashar holds a master degree in computer science and has been actively teaching and training since 1987. With more than 28 year
				of IT industry experience, he has worked with reputable client both domestic and international. He is an award winning teacher 
				and his students enjoy a blend of syllabus based lectures of good doze of industry experience thrown in the highlight the application of concepts in the real 
				world</p>
		
		</div>
		<div class="row">
			<div class="col-30">
			</div>
			<div class="col-10">
				<img src="img/fb icon.png" class="facebook-icon">
			</div>
			<div class="col-10">
				<img src="img/pinterest icon.png" class="pinterest-icon">
			</div>
			<div class="col-10">
				<img src="img/twitter icon.png" class="twitter-icon">
			</div>
			<div class="col-10">
				<img src="img/google plus icon.png" class="google-icon">
			</div>
			<div class="col-30">
			</div>
		</div>
	</div>
</div>