<div data-page="home" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<div class="center text-center"><img class="logo-img" src="img/logo.png"></div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<div class="row browse-course">
			<div class="col-50 tooltip">
				<img src="img/browse.png" class="icon-browse">
			</div>
			<div class="col-50">
				<h1><a href="#">Browse Courses</a><h1>
			</div>
		</div>
		<div class="row browse-course">
			<div class="col-50 tooltip">
				<img src="img/courses.png" class="icon-browse">
			</div>
			<div class="col-50">
				<h1><a href="#">My Course</a><h1>
			</div>
		</div>
		<div class="row browse-course">
			<div class="col-50 tooltip">
				<img src="img/statements.png" class="icon-browse">
			</div>
			<div class="col-50">
				<h1><a href="#">Statements</a><h1>
			</div>
		</div>
		<div class="row browse-course">
			<div class="col-50 tooltip">
				<img src="img/profile-settings.png" class="icon-browse">
			</div>
			<div class="col-50">
				<h1><a href="profile-setting.html">Profile Setting</a></h1>
			</div>
		</div>
		
	</div>
</div>