<div data-page="cart" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('login.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">Carts</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content parent-div">
		<h2>Shopping Cart</h2>

		<div class="list-block">
			<ul id="cart_body">
			</ul>
		</div>

		<div class="row text-center" id="cart_div" style="display: none;">
			<a href="javascript:void('0')" class="button button-fill color-green" onclick="confirm_order()">
			Confirm Order
			</a>
		</div>

	</div>

</div>