<div data-page="change-password" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('login.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">Change Password</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content parent-div">
		<div class="list-block">
			<ul  id="list-items">
				<li>
				  <div class="item-content">
					<div class="item-inner">
					  <div class="item-input">
						<input type="password" placeholder="Current Password" id="password">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-inner">
					  <div class="item-input">
						<input type="password" placeholder="New Password" id="newPassword">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-inner">
					  <div class="item-input">
						<input type="password" placeholder="Confirm Password" id="confirmPassword">
					  </div>
					</div>
				  </div>
				</li>
			</ul>
		</div>
		<a href="#" class="button button-fill button-send-message" onclick="changePassword();">Save</a>
	</div>
		
</div>