<div data-page="contacts" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('login.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">Contacts</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content parent-div">
		<h1>Contact Form</h1>
		<p>Your email will not be published, required feild are marked.</p>
		<div class="list-block">
		  <ul  id="list-items">
			<li>
			  <div class="item-content">
				<div class="item-inner">
				  <div class="item-input">
					<input type="text" placeholder="Full Name" id="firstName">
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-inner">
				  <div class="item-input">
					<input type="text" placeholder="Last Name" id="lastName">
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-inner">
				  <div class="item-input">
					<input type="email" placeholder="Email" id="email">
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-inner">
				  <div class="item-input">
					<input type="text" placeholder="Phone" id="phone">
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-inner">
				  <div class="item-input item-input-field">
					<textarea name="about-me" class="resizable" placeholder="Text" rows="10" id="my_message"></textarea>
				  </div>
				</div>
			  </div>
			</li>
		   </ul>
		</div>
		<a href="#" class="button button-fill button-send-message" onclick="sendEmail();">Send Message</a>
	</div>
		
</div>