<div data-page="course_content" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('view_course.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading"></div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<div class="content-block">
	</div>

		<div class="row text-center doc" style="margin-left:2.5%">
			
		</div>
	</div>

</div>
</div>