<div data-page="coursesDetail" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('login.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">BROWSE COURSES</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init searchbar-active searchbar-nav">
			<div class="searchbar-input">
				<input type="search" placeholder="Search" id="search-navbar"><a href="#" class="searchbar-clear"></a>
			</div>
		</form>
		<div class="row buttons">
			<div class="col-10">
			</div>
			<div class="col-40">
				<select style="width:100%; text-align-last:center;" class="button button-fill button-raised button-2 text-center" id="search_type" name="search_type">
					<option value="name">Course Name</option>
					<option value="id">Course ID</option>
				</select>
			</div>
			<div class="col-40">
				<select style="width:100%; text-align-last:center;" class="button button-fill button-raised button-2 text-center" id="categoryID">
					<option value="">Select Category</option>
				</select>
			</div>
			<div class="col-10">
			</div>
		</div> 

		<div class="content-block"><a href="#" class="button button-fill button-raised" onclick="searchCourses();">Search</a></div> 

		<div class="list-block media-list inset">
			<ul id="all_subjects">

			</ul>
		</div> 
		
		
	</div>
</div>