<div data-page="login" class="page">
	
	<div class="page-content parent-div" style="display:none;">
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80">
				<img style="width:100%; padding-top: 10px;" src="img/logo.png">
			</div>
			<div class="col-10"></div>
		</div>
		<div class="list-block">
			<ul  id="list-items">
				<li>
					<div class="item-content">
						<div class="item-inner">
							<div class="item-input">
								<input type="email" placeholder="Email" id="Email">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-inner">
							<div class="item-input">
								<input type="password" placeholder="Password" id="Password">
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="list-block radio-element">
				<ul id="list-items">
					<li>
						<label class="label-radio item-content">
							<input type="radio" name="UserType" value="student" checked="checked">
							<div class="item-media">
								<i class="icon icon-form-radio"></i>
							</div>
							<div class="item-inner">
								<div class="item-title">Student</div>
							</div>
						</label>
					</li>
				</ul>
			</div>
			<div class="list-block radio-element">
				<ul id="list-items">
					<li>
						<label class="label-radio item-content">
							<input type="radio" name="UserType" value="teacher">
							<div class="item-media">
								<i class="icon icon-form-radio"></i>
							</div>
							<div class="item-inner">
								<div class="item-title">Teacher</div>
							</div>
						</label>
					</li>
				</ul>
			</div>
			<a href="#" onclick="login();" class="button button-fill button-send-message">Login</a>

			<p class="text-center">Do You Have An Account?<a href="signup.html"> Sign Up</p>
		</div>