<div data-page="my-courses" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="index.html" class="back link icon-only back-icon"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">My Courses</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init searchbar-active searchbar-nav">
			<div class="searchbar-input">
				<input type="search" placeholder="Search" id="search-navbar"><a href="#" class="searchbar-clear"></a>
			</div>
		</form>
		  
	
		<div class="list-block media-list inset">
		  <ul>
			<li>
			  <a href="#" class="item-link item-content">
				<div class="item-media"><img src="img/f7-icon.png" class="picture-icon" width="44"></div>
				<div class="item-inner">
				  <div class="item-title-row">
					<div class="item-title">Yellow Submarine</div>
				  </div>
				  <div class="item-subtitle">Beatles</div>
				</div>
			  </a>
			</li>
			<li>
			  <a href="#" class="item-link item-content">
				<div class="item-media"><img src="img/f7-icon.png" class="picture-icon" width="44"></div>
				<div class="item-inner">
				  <div class="item-title-row">
					<div class="item-title">Yellow Submarine</div>
				  </div>
				  <div class="item-subtitle">Beatles</div>
				</div>
			  </a>
			</li>
			<li>
			  <a href="#" class="item-link item-content">
				<div class="item-media"><img src="img/f7-icon.png" class="picture-icon" width="44"></div>
				<div class="item-inner">
				  <div class="item-title-row">
					<div class="item-title">Yellow Submarine</div>
				  </div>
				  <div class="item-subtitle">Beatles</div>
				</div>
			  </a>
			</li>
			<li>
			  <a href="#" class="item-link item-content">
				<div class="item-media"><img src="img/f7-icon.png" class="picture-icon" width="44"></div>
				<div class="item-inner">
				  <div class="item-title-row">
					<div class="item-title">Yellow Submarine</div>
				  </div>
				  <div class="item-subtitle">Beatles</div>
				</div>
			  </a>
			</li>
			<li>
			  <a href="#" class="item-link item-content">
				<div class="item-media"><img src="img/f7-icon.png" class="picture-icon" width="44"></div>
				<div class="item-inner">
				  <div class="item-title-row">
					<div class="item-title">Yellow Submarine</div>
				  </div>
				  <div class="item-subtitle">Beatles</div>
				</div>
			  </a>
			</li>
		  </ul>
		</div> 
		
		
	</div>
</div>