<div data-page="pdf" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('student_courses.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">View Course</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">

		

	</div>
</div>