<div data-page="profile-setting" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="index.html" class="back link icon-only back-icon"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">PROFILE SETTINGS</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
			<div class="list-block">
			  <ul id="list-items">
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-name"></i></div>
					<div class="item-inner">
					  <div class="item-title label">Name</div>
					  <div class="item-input">
						<input type="text" placeholder="Name">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-email"></i></div>
					<div class="item-inner">
					  <div class="item-title label">Email</div>
					  <div class="item-input">
						<input type="email" placeholder="Email">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-password"></i></div>
					<div class="item-inner">
					  <div class="item-title label">Password</div>
					  <div class="item-input">
						<input type="email" placeholder="Password">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-tel"></i></div>
					<div class="item-inner">
					  <div class="item-title label">Phone</div>
					  <div class="item-input">
						<input type="email" placeholder="Phone">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-gender"></i></div>
					<div class="item-inner">
					  <div class="item-title label">Gender</div>
					  <div class="item-input">
						<select>
						  <option>Male</option>
						  <option>Female</option>
						</select>
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-calendar"></i></div>
					<div class="item-inner">
					  <div class="item-title label">Birth date</div>
					  <div class="item-input">
						<input type="date" placeholder="Birth day" value="2014-04-30">
					  </div>
					</div>
				  </div>
				</li>
				<li>
				  <div class="item-content">
					<div class="item-media"><i class="icon icon-form-url"></i></div>
					<div class="item-inner">
					  <div class="item-title label">City</div>
					  <div class="item-input">
						<input type="email" placeholder="City">
					  </div>
					</div>
				  </div>
				</li>
			    </ul>
			</div>
	</div>
</div>