<div data-page="reset-password" class="page">
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<img style="width:100%; padding-top: 10px;" src="img/logo.png">
		</div>
		<div class="col-10"></div>
	</div>
	<div class="page-content parent-div">
		<p class="text-center">Enter your email to get reset password link.</p>
		<div class="list-block">
		  <ul  id="list-items">
			<li>
			  <div class="item-content">
				<div class="item-inner">
				  <div class="item-input">
					<input type="email" placeholder="Email">
				  </div>
				</div>
			  </div>
			</li>
		</div>
		<div class="row">
			<div class="col-30">
			</div>
			<div class="col-40">
				<a href="#" class="button button-fill button-send-message">Reset Password</a>
			</div>
			<div class="col-30">
			</div>
		</div>
		
		<p class="text-center">Do You Have An Account?<a href="signup.html"> Sign Up</p>
	</div>