<div data-page="signup" class="page">
	
	<div class="page-content">
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80">
				<img style="width:100%; padding-top: 10px;" src="img/logo.png">
			</div>
			<div class="col-10"></div>
		</div>
		<div class="list-block">
			<ul id="list-items">
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">person</i></div>
						<div class="item-inner">
							<div class="item-title label">Name</div>
							<div class="item-input">
								<input type="text" placeholder="Name" id="name">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">email_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Email</div>
							<div class="item-input">
								<input type="email" placeholder="Email" id="email">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">lock</i></div>
						<div class="item-inner">
							<div class="item-title label">Password</div>
							<div class="item-input">
								<input type="password" placeholder="Password" id="password">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">lock</i></div>
						<div class="item-inner">
							<div class="item-title label">Confirm Password</div>
							<div class="item-input">
								<input type="password" placeholder="Confirm Password" id="confirmPassword">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">phone_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Phone</div>
							<div class="item-input">
								<input type="email" placeholder="Phone" id="phone">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">persons</i></div>
						<div class="item-inner">
							<div class="item-title label">Gender</div>
							<div class="item-input">
								<select id="gender">
									<option value="">- Select Gender -</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">calendar_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Birth date</div>
							<div class="item-input">
								<input type="text" placeholder="Birth day" id="birthday">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">world_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Address</div>
							<div class="item-input">
								<input type="text" placeholder="Address" id="address">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">navigation_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Zip</div>
							<div class="item-input">
								<input type="text" placeholder="Zip" id="zip">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">flag_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Country</div>
							<div class="item-input">
								<select id="country_id" name="country" onchange="getNewStates(this.value);">
									<option value="">- Select Country -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">compass_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">State</div>
							<div class="item-input">
								<select id="state_id" name="state" onchange="getNewCities(this.value);">
									<option value="">- Select State -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">world_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">City</div>
							<div class="item-input">
								<select id="city_id" name="city">
									<option value="">- Select City -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<br />
			<div class="row">
				<div class="col-30">
				</div>
				<div class="col-40">
					<a href="#" class="button button-fill button-send-message" onclick="register();">Sign Up</a>
				</div>
				<div class="col-30">
				</div>
			</div>
		</div>
		
		
	</div>
</div>