<div data-page="student_courses" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="$" class="back link icon-only back-icon" onclick="mainView.router.loadPage('student_profile.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">My Courses</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<form data-search-list=".list-block-search" data-search-in=".item-title, .item-subtitle" class="searchbar searchbar-init searchbar-active searchbar-nav">
			<div class="searchbar-input">
				<input type="search" placeholder="Search" id="search-navbar"><a href="#" class="searchbar-clear"></a>
			</div>
		</form>
		<div class="searchbar-overlay"></div>

		<div class="list-block media-list list-block-search searchbar-found">
			<ul id="subjects">
					
			</ul>
		</div> 
	</div>
</div>