<div data-page="student_profile_settings" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('student_profile.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">PROFILE SETTINGS</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<div class="list-block">
			<form id=""my-form">
				<ul id="list-items">
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">person</i></div>
							<div class="item-inner">
								<div class="item-title label">Name</div>
								<div class="item-input">
									<input type="text" placeholder="Name" id="name" name="name">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">email_fill</i></div>
							<div class="item-inner">
								<div class="item-title label">Email</div>
								<div class="item-input">
									<input type="email" placeholder="Email" id="email" name="email">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">phone_fill</i></div>
							<div class="item-inner">
								<div class="item-title label">Phone</div>
								<div class="item-input">
									<input type="text" placeholder="Phone" id="phone" name="phone">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">persons</i></div>
							<div class="item-inner">
								<div class="item-title label">Gender</div>
								<div class="item-input">
									<select id="gender" name="gender">
										<option>- Select Gender -</option>
										<option value="male">Male</option>
										<option value="female">Female</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">calendar_fill</i></div>
							<div class="item-inner">
								<div class="item-title label">Birth date</div>
								<div class="item-input">
									<input type="text" placeholder="Birth day" id="birthday" name="birthday">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">world_fill</i></div>
							<div class="item-inner">
								<div class="item-title label">Address</div>
								<div class="item-input">
									<input type="text" placeholder="Address" id="address" name="address">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">navigation_fill</i></div>
							<div class="item-inner">
								<div class="item-title label">Zip</div>
								<div class="item-input">
									<input type="text" placeholder="Zip" id="zip" name="zip">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-media"><i class="f7-icons">home_fill</i></div>
							<div class="item-inner">
								<div class="item-title label">School</div>
								<div class="item-input">
									<select id="school_id" name="school">
										<option value="">- Select School -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">layers_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Class</div>
							<div class="item-input">
								<select id="class_id" name="class">
								<option value="">- Select Class -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">flag_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">Country</div>
							<div class="item-input">
								<select id="country_id" name="country" onchange="getNewStates(this.value);">
									<option value="">- Select Country -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">compass_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">State</div>
							<div class="item-input">
								<select id="state_id" name="state" onchange="getNewCities(this.value);">
									<option value="">- Select State -</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-media"><i class="f7-icons">world_fill</i></div>
						<div class="item-inner">
							<div class="item-title label">City</div>
							<div class="item-input">
								<select id="city_id" name="city">
									<option value="">- Select City -</option>
								</select>
							</div>
						</div>
					</div>
				</li>

			</ul>
			<div class="content-block">
				<a href="#" class="button button-fill button-raised form-to-data">Submit</a>
			</div>
		</form>
	</div>
</div>
</div>