<div data-page="teacher_courses" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('teacher_profile.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">My Courses</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">
		<form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init searchbar-active searchbar-nav">
			<div class="searchbar-input">
				<input type="search" placeholder="Search" id="search-navbar"><a href="#" class="searchbar-clear"></a>
			</div>
		</form>


		<div class="list-block media-list inset">
			<ul id="subjects">
			</ul>
		</div> 
		
		
	</div>
</div>