<div data-page="teacher_profile" class="page">
			<div class="navbar mynav">
			   <div class="text-center"><img class="logo-img" src="img/logo.png"></div>
			   <div class="menu-icon">
				<a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a>
			   </div>
			</div>
		<div class="page-content text-center parent-div">
			<div class="row browse-course no-gutter" onclick="mainView.router.loadPage('about-me.html');">
				<div class="col-50 tooltip left-div">
					<img src="img/about-me.png" class="icon-browse">
				</div>
				<div class="col-50 home-menu">
					<h1 style="padding-top: 16px;"><a href="#" class="main-heading">ABOUT<br>ME</a><h1>
				</div>
			</div>
			<div class="row browse-course no-gutter" onclick="mainView.router.loadPage('teacher_courses.html');">
				<div class="col-50 tooltip">
					<img src="img/courses.png" class="icon-browse">
				</div>
				<div class="col-50 home-menu">
					<h1 style="padding-top: 27px;"><a href="#" class="main-heading">MY COURSES</a><h1>
				</div>
			</div>
			<div class="row browse-course no-gutter" onclick="mainView.router.loadPage('teacher_statements.html');">
				<div class="col-50 tooltip">
					<img src="img/statements.png" class="icon-browse">
				</div>
				<div class="col-50 home-menu">
					<h1 style="padding-top: 27px;"><a href="#" class="main-heading">STATEMENTS</a></h1>
				</div>
			</div>
			<div class="row browse-course no-gutter" onclick="mainView.router.loadPage('teacher_profile_settings.html');">
				<div class="col-50 tooltip">
					<img src="img/profile-settings.png" class="icon-browse">
				</div>
				<div class="col-50 home-menu">
					<h1 style="padding-top: 16px;"><a href="#" class="main-heading">PROFILE<br>SETTING</a></h1>
				</div>
			</div>
			<div class="browse-course">
				<a href="#" class="button button-big button-fill button-login" onclick="logout();"><i class="icon icon-logout"> </i>LOGOUT</a>
			</div>
		</div>
</div>