<div data-page="view_course" class="page">
	<div class="navbar mynav">
		<div class="navbar-inner">
			<a href="#" class="back link icon-only back-icon" onclick="mainView.router.loadPage('student_courses.html');"><i class="icon icon-back"></i></a>
			<div class="center text-center text-heading">View Course</div>
			<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-menu"></i></a></div>
		</div>
	</div>
	<div class="page-content">

		<div class="list-block media-list inset">
			<ul id="doc_detail">
				
			</ul>
		</div>

		<div class="content-block-title">Available Docs</div>
		<div class="content-block" id="documents"><!-- 
			<a href="#" onClick="cordova.InAppBrowser.open('https://drive.google.com/file/d/0B_nipvep1WpPd2JXeDdJcUlNYXM/view', '_blank', 'location=no')">
				<div class="chip" style="width:100%">
					<div class="chip-media bg-teal">P</div>
					<div class="chip-label">Sample PDF</div>
				</div>
				
			</a> -->
			<!-- <a href="#" onClick="loadDoc('audio','http://www.stephaniequinn.com/Music/Allegro%20from%20Duet%20in%20C%20Major.mp3','Sample Audio')">
				<div class="chip" style="width:100%">
					<div class="chip-media bg-teal">A</div>
					<div class="chip-label">Sample Audio</div>
				</div>
			</a>
			<a href="#" onClick="loadDoc('video','https://www.youtube.com/embed/tyRZA2kB0kI','Sample Video')">
				<div class="chip" style="width:100%">
					<div class="chip-media bg-teal">V</div>
					<div class="chip-label">Sample Video</div>
				</div>
			</a> -->
		</div>

	</div>
</div>